{% extends "base.html" %}
{% load i18n static %}

{% block content %}

    <section class="all__news" style="background: url('{% static 'assets/images/bannerimg.png' %}')">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12">
                    <div class="heading_news-all">
                        <h1>{% trans 'VIRTUAL RECEPTION' %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-12 page-title-head_2">
                <h1>{% trans 'VIRTUAL RECEPTION' %}</h1>
            </div>

            <div class="card overflow-hidden online__reception border-0">
                <form action="{% url 'blogs:virtual_reception_form' %}" method="POST">
                    {% csrf_token %}
                    <div class="card-body row">

                        <div class="col-md-6">
                            <label for="full_nam">{% trans 'Full Name' %}</label>
                            <input id="full_nam" type="text" name="full_nam" class="form-control input__form_con"
                                   required>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <label for="email">{% trans 'E-mail' %}</label>
                            <input id="email" type="email" name="email" class="form-control input__form_con" required>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <label for="phone_number">{% trans 'Phone number' %}</label>
                            <input id="phone_number" type="text" name="phone_number"
                                   class="form-control input__form_con" required>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <label for="region">{% trans 'Select a region' %}</label>
                            <input id="region" type="text" name="region" class="form-control input__form_con" required>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <label for="address">{% trans 'Address' %}</label>
                            <input id="address" type="text" name="address" class="form-control input__form_con"
                                   required>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <label for="date_of_birth">{% trans 'Date of birth' %}</label>
                            <input id="date_of_birth" type="date" name="date_of_birth"
                                   class="form-control input__form_con" required>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <label for="gender">{% trans 'Gender' %}</label>
                            <input id="gender" type="text" name="gender" class="form-control input__form_con" required>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <label for="marital_status">{% trans 'Marital status' %}</label>
                            <input id="marital_status" type="text" name="marital_status"
                                   class="form-control input__form_con" required>
                        </div>

                        <div class="col-lg-12 col-md-12 mb-2">
                            <button class="file-upload1 form-control mt-0">
                                <input id="file_uploa" type="file" name="file_uploa" class="file-input" size="100">
                                <i class="fa fa-cloud-upload"
                                   aria-hidden="true"></i>&nbsp;&nbsp;{% trans 'Upload file' %}
                            </button>
                        </div>

                        <div class="col-lg-12">
                            <label for="message">{% trans 'Message' %}</label>
                            <textarea name="message" id="message" cols="30" rows="10"
                                      class="w-100 form-control input__form_con" required>
                            </textarea>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-check">
                                <input class="form-check-input input__form_con" type="checkbox" value=""
                                       id="defaultCheck1" required>
                                <label class="form-check-label" for="defaultCheck1">
                                    {% trans 'Allow my question to be published' %}
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <button class="outline-none mt-3 btn__send btn btn-primary">{% trans 'Send' %}</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
