{% extends 'base.html' %}
{% load i18n static %}
{% block content %}


    <section class="all__news" style="background: url('{% static 'assets/images/bannerimg.png' %}')">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12">
                    <div class="heading_news-all">
                        <h1>{% trans 'All photos' %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-center photo__text">{% trans 'PHOTO GALLERY' %}</h1>
                <div class="border-top-gallery mx-auto"></div>

{#                <div class="filter__tabs mt-5">#}
{#                    <a href="/"><button class="filter__btn mb-3" data-filter="mockup">{% trans 'All' %}</button></a>#}
{#                    {% for category in categories %}#}
{#                    <a href="/?category={{ category.id }}"><button class="filter__btn mb-3" data-filter="mockup">{{ category.title }}</button></a>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
        </div>

        <div class="portfolio-container row">
            {% for item in images %}
                <div class="col-md-4 portfolio__item" data-category="ux">
                    <a data-fancybox="gallery" href="{{ item.image.url }}">
                        <img class="portfolio_image" src="{{ item.image.url }}" alt="portfolio"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>

        var closestsElementClass = function (elem, className) {
            var node = elem;

            while (node) {

                if (node.classList.contains(className)) {
                    return node;
                }

                node = node.parentElement;
            }

            return null;
        }


        var catalog = document.querySelector('.portfolio-container');

        var catalogNav = document.querySelector('.filter__tabs');

        var catalogItems = document.querySelectorAll('.portfolio__item');


        function removeChildren(item) {
            while (item.firstChild) {
                item.removeChild(item.firstChild)
            }
        }


        function updateChildren(item, children) {
            removeChildren(item);
            for (var i = 0; i < children.length; i++) {
                item.appendChild(children[i]);
            }
        }

        catalogNav.addEventListener('click', function (e) {
            var target = e.target;
            var item = closestsElementClass(target, 'filter__btn');
            if (item === null || item.classList.contains('is-active')) {
                return;
            }

            e.preventDefault();

            var filterValue = item.getAttribute('data-filter');
            var previousActiveBtn = document.querySelector('.filter__btn.is-active');
            previousActiveBtn.classList.remove('is-active');
            item.classList.add('is-active');


            if (filterValue === 'all') {
                updateChildren(catalog, catalogItems);
                return;
            }


            var filteredItems = [];
            for (var i = 0; i < catalogItems.length; i++) {
                var currentItem = catalogItems[i];
                if (currentItem.getAttribute('data-category') === filterValue) {
                    filteredItems.push(currentItem);
                }
            }
            updateChildren(catalog, filteredItems);
        });
    </script>
    <script>

        // navbar
        $("[data-trigger]").on("click", function () {
            var trigger_id = $(this).attr('data-trigger');
            $(trigger_id).toggleClass("show");
            $('body').toggleClass("offcanvas-active");
        });

        // close button
        $(".btn-close").click(function (e) {
            $(".navbar-collapse").removeClass("show");
            $("body").removeClass("offcanvas-active");
        });

    </script>

{% endblock %}
