{% extends 'base.html' %}
{% load static i18n %}


{% block content %}
    <section class="all__news" style="background: url('{% static 'assets/images/bannerimg.png' %}')">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12">
                    <div class="heading_news-all">
                        <h1>{% trans 'Statistics' %}<i class="fal fa-newspaper"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="title">{% trans 'Statistics' %}</h1>
                    <div class="border-top-news mx-auto"></div>
                </div>

                {% for items in statistics %}
                    <div class="mt-5 col-md-12" data-aos="fade-up" data-aos-duration="1500">
                        <div class="news-text">
                            <h1>{{ items.title }}</h1>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}
