{% extends "base.html" %}
{% load i18n static %}

{% block content%}

    <section class="all__news" style="background: url('{% static 'assets/images/bannerimg.png' %}')">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12">
                    <div class="heading_news-all">
                        <h1>{% trans 'List of member enterprises of the association' %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-12 text-center mb-4 mt-4">
            <div class="hgroup">
                <h1>{% trans 'List of member enterprises of the association' %}</h1>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="search__form mb-4">
                <label>{% trans 'Search by TIN and by company name' %}</label>
                <input type="search" class="form-control" placeholder="поиск">
            </div>
        </div>

        <div class="col-lg-12 col-12">
            <div class="card border-0 table-bordered card-wrap table-responsive">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{% trans 'TIN' %}</th>
                            <th>{% trans 'Full name of the organization' %}</th>
                            <th>{% trans 'Territory' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="">308055614</a>
                            </td>
                            <td>«MIRZACHO’L TOLA TEKSTIL» МЧЖ ҚК</td>
                            <td>Жиззах вилояти</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="">308055614</a>
                            </td>
                            <td>«MIRZACHO’L TOLA TEKSTIL» МЧЖ ҚК</td>
                            <td>Жиззах вилояти</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="">308055614</a>
                            </td>
                            <td>«MIRZACHO’L TOLA TEKSTIL» МЧЖ ҚК</td>
                            <td>Жиззах вилояти</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
