{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-0 card-wrap">
                <div class="card-body">
                    <h2 class="b_main_header">{% trans 'Membership Benefits' %}</h2>

                    <div class="WYSIWYG b_page">
                        <p>
                            <strong>{% trans 'Reasons why you should be a member of the association' %}</strong>
                        </p>

                        <ol class="p-0 px-3 ol__benefits">
                            <li>РАФ является национальной ассоциацией франчайзинга и
                                представляет интересы своих членов как в России, так и за рубежом.
                            </li>
                            <li>РАФ представляет интересы российского франчайзинга на всех
                                уровнях власти, в отношениях с общественными организациями, коммерческими компаниями и
                                частными лицами.
                            </li>
                            <li>РАФ изучает и решает проблемы, с которыми сталкиваются
                                предприниматели при осуществлении своей деятельности.
                            </li>
                            <li>РАФ оказывает содействие в доступе к рынкам и ресурсам.
                            </li>
                            <li>РАФ занимается популяризацией франчайзинга.</li>
                            <li>РАФ содействует защите интеллектуальной собственности.</li>
                            <li>РАФ оказывает совместно с партнерами юридические и
                                консультационные услуги.
                            </li>
                            <li>РАФ способствует обмену опытом, осуществляет
                                конгрессно-выставочную деятельность.
                            </li>
                            <li>РАФ помогает продвигать бренды, адаптирует иностранные
                                франшизы под специфику российского рынка.
                            </li>
                            <li>РАФ задает стандарты предпринимательской деятельности и
                                создает этические нормы в области франчайзинга.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
