{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <section class="banner"
             style="background: url('{% static 'assets/images/ezgif.com-gif-maker.gif' %}') center center/cover no-repeat;">
        <div class="banner__bg">
            <div class="container dasas">
                <div class="row position-relative">F
                    <div class="col-md-7">
                        <div class="text-banner typewriter">
                            <h1>{% trans 'Welcome to Uzcharmsanoat' %}</h1>
                            <a href="{% url 'blogs:about' %}" class="banner__btn_href mt-4 text-decoration-none">
                                {% trans 'Learn more' %}
                                <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <a href="#news" class="box">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </Section>

    <!-- ОБ АССОЦИАЦИИ -->
    <section class="dropdowns-group">
        <div class="container">
            <div class="row m-auto">

                {% for item in short_links %}
                    <div class="col-lg-4 col-12 col-md-6 mb-3 res-drop-group">
                        <div class="dropdown">
                            <button data-aos="fade-up" class="btn drop-tog w-100" type="button"
                                    id="dropdownMenuButton{{ forloop.counter }}" data-toggle="dropdown"
                                    aria-expanded="false">
                                <img src="{% static 'assets/images/img-gallery/red-house.svg' %}" class="mr-auto"
                                     alt="">
                                <span>{{ item.name }}</span>
                                <i class="far fa-chevron-down ml-auto"></i>
                            </button>

                            <div class="dropdown-menu menu-drop"
                                 aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                {% for subitem in item.children.all %}
                                    <a class="dropdown-item" href="{{ subitem.url }}">{{ subitem.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#                                {% for item in company_info %}#}
                {#                                    <div class="col-md-12 mb-5 pb-5 ass" id="about">#}
                {#                                        <div class="card asosation border-0">#}
                {#                                            <div class="card-body">#}
                {#                                                <div class="row">#}
                {#                                                    <div class="col-md-6 about-order" data-aos="fade-up">#}
                {#                                                        <h1>{% trans 'ОБ АССОЦИАЦИИ' %}</h1>#}
                {#                                                        <div class="border_top"></div>#}
                {#                                                        <h3>#}
                {#                                                            {{ item.intro_about_us }}#}
                {#                                                        </h3>#}
                {#                                                        <a href="{% url 'blogs:about' %}" data-aos="fade-down">#}
                {#                                                            подробнее <i class="far fa-long-arrow-right"></i>#}
                {#                                                        </a>#}
                {#                                                    </div>#}
                {#                                                    <div class="col-md-6 banner-col-asosa" id="tilt">#}
                {#                                                        <img class="img-fluid" src="{% static 'assets/images/logobino.png' %}"#}
                {#                                                             data-aos="flip-left" data-aos-duration="1000" alt="">#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                {% endfor %}#}
            </div>
        </div>
    </section>

    <section class="news pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id='news' data-aos="fade-up">
                    <h1>{% trans 'All news' %}</h1>
                    <div class="mx-auto border_bot"></div>
                </div>

                <div class="owl-carousel owl-theme col-md-12">
                    {% for link in news %}
                        <div class="item rescol-news" data-aos-duration="1000">
                            <a href="{{ link.get_absolute_url }}" class="text-decoration-none">
                                <div class="card responsive-news overflow-hidden">
                                    <img data-aos="fade-down-right" data-aos-duration="2000" src="{{ link.image.url }}"
                                         alt="">
                                    <p class="card-img-bottom title-card">{{ link.created|date:"m/d/Y" }}</p>
                                    <div class="card-body">
                                        <h2>{{ link.title }}</h2>
                                        <h6>{{ link.short_description|safe }}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="batafsil-btn mx-auto"
                     data-aos="fade-up">
                    <a href="{% url 'blogs:news_list' %}">{% trans 'All news' %}
                        <i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="productss">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-up">
                    <h1>{% trans 'PRODUCTS' %}</h1>
                    <div class="border-product mx-auto"></div>
                </div>

                <div class="col-md-12" id="products">
                    <div class="products-carousel owl-carousel owl-theme position-relative" data-aos="fade-up">
                        {% for link in products %}
                            <div class="item rounded"
                                 style="background: url({{ link.image.url }}) center center/75% no-repeat;  background-color: white;">
                                <div class="carousel-hover-effect">
                                    <div class="carousel-hover-content pt-1">
                                        <span>{{ link.created|date:"m/d/Y" }}</span>
                                        <img src="{% static 'assets/images/logo2.png' %}" alt="brand">
                                    </div>
                                    <div class="carousel-hover-content pb-2">
                                        <span>{{ link.title }}</span>
                                        <i class="ri-arrow-right-line"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="batafsil-btn-pro mx-auto aos-init aos-animate" data-aos="fade-up">
                    <a href="{% url 'blogs:product_list' %}"
                       class="text-decoration-none text-white">{% trans 'more...' %}
                        <i class="far fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-swiper-gallery">
        <div class="container">
            <div class="row">

                <div class="col-md-12 header-photo-text" data-aos="fade-up">
                    <h1>{% trans 'PHOTO GALLERY' %}</h1>
                    <div class="border-photo mx-auto"></div>
                </div>

                {% for photo in photogallery %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="block overflow-hidden" data-aos="fade-up">
                            <img data-aos="fade-down-right" src="{{ photo.image.url }}" class="img-full w-100"
                                 alt="{{ photo.title }}">
                            <p>{{ photo.title }}</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-md-12 btn-foote" data-aos="fade-up">
                    <a href="{% url 'blogs:gallery' %}" class="btn-photo-footer mx-auto">{% trans 'more...' %}
                        <i class="far fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="video">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" data-aos="fade-up">
                    <h1 class="text-uppercase media-video mt-5">{% trans 'Media Uzcharmsanoat' %}</h1>
                    <div class="border-media mx-auto mb-5"></div>
                </div>
                {% for item in media %}
                    <div class="col-lg-4 col-md-6" data-aos="fade-up">
                        <a data-fancybox href="https://youtube.com/embed/{{ item.link }}">
                            <img src="https://img.youtube.com/vi/{{ item.link }}/0.jpg" class="img-video-section"
                                 alt="{{ item.title }}">
                            <i class="far fa-play-circle play__btn_icons"></i>
                        </a>
                    </div>
                {% endfor %}


                <div class="col-lg-3 mx-auto col-md-12 mb-4">
                    <div class="media-button mb-4 mt-3 mx-auto" data-aos="fade-up">
                        <p class="text-center media-button">
                            <a href="{% url 'blogs:media' %}"
                               class="text-dark text-decoration-none">{% trans 'See all videos' %}</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="statistics"
             style="background: url('{% static 'assets/images/28f50ec4b7fcb2d89218f63a0aa5de67.png' %}'); background-attachment: fixed;">
        <div class="container">

            <div class="col-md-12 mb-5 text-center" data-aos="fade-up">
                <div class="col-md-12 text-center" data-aos="fade-up">
                    <h1 class="text-uppercase media-video text-white">{% trans 'Statistics' %}</h1>
                    <div class="border-media mx-auto"></div>
                </div>

                <div class="statistics__wrapper" id="counter">
                    <div class="row">
                        {% for item in infographics %}
                            <div data-aos="zoom-in" data-aos-easing="ease-in-out"
                                 class="statistics__card col-lg-3 col-md-6 col-12 aos-init">
                                <div class="statistics__card-content clearfix">

                                    <i class="fa fas {{ item.icon }}"></i>
                                    <h6>{{ item.title }}</h6>
                                    <div class="statistics__count" data-num="{{ item.value }}">0</div>
                                </div>
                            </div>
                        {% endfor %}


                    {#//// statistics a href //////#}
                    <div class="col-md-12">
                        <a href="{% url 'blogs:statistic_list' %}" data-aos="fade-up"
                           class="faqs-button mx-auto text-decoration-none text-white">
                            {% trans 'more...' %}
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                    {#//// statistics //////#}
                </div>
            </div>
        </div>
    </section>

    <section class="faq" style="background: url('{% static 'assets/images/img-gallery/faq_charm.png' %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5 pb-2 text-center" data-aos="fade-up">
                    <h1>{% trans 'FAQs' %}</h1>
                    <div class="border-faq mx-auto"></div>
                </div>

                {% for item in questions %}
                    <div class="col-md-6 drop-col">
                        <ul class="faq-list" data-aos="fade-up">
                            <li class="J_list">
                                <div class="list-header">
                                    <p class="m-0">{{ item.question }}</p>
                                    <i class="fal fa-chevron-circle-down ml-auto"></i>
                                </div>
                                <div class="list-content">
                                    <div class="list-content-inner">
                                        {{ item.answer }}
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                {% endfor %}

                <div class="col-md-12">
                    <a href="{% url 'blogs:faq' %}" data-aos="fade-up"
                       class="faqs-button mx-auto text-decoration-none text-white">
                        {% trans 'more...' %}
                        <i class="far fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="top-expo">
        <div class="expo"
             style="background-image: url('{% static 'assets/images/img-gallery/parda.png' %}');background-attachment: fixed">
            <div class="container">
                <div class="row">
                    {% for item in expolinks %}
                        <div class="col-md-4 text-center">
                            <a href="{{ item.link_to_website }}" class="text-decoration-none">
                                <img data-aos="fade-up" class="img-expo"
                                     src="{{ item.image.url }}"
                                     alt="{{ item.title }}">
                                <p>{{ item.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div class="map">
        <section class="grapic"
                 style="background: url('{% static 'assets/images/img-gallery/karta-charm.png' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-4" data-aos="fade-up">
                        <h1>{% trans 'Interactive map' %}</h1>
                        <div class="top-border mx-auto"></div>
                    </div>

                    <div class="col-md-7 px-5" data-aos="fade-up">
                        <div id="map">
                            <div class="bigInfoBox">
                                <div class=" noPadding mapBox">
                                    <div class="mapBox">
                                        <div id="vmap">
                                            <div id="vmap-tooltip"></div>
                                            <svg width="116%" height="450" viewBox="0 0 560 350">
                                                <g>
                                                    <path d="M515.735,176.06L514.8 174.387 499.861 174.132 498.302 172.12 496.828 172.006 496.46 170.447 493.88 169.257 488.013 172.12 488.013 172.375 487.928 173.112 487.361 174.217 487.105 174.671 486.085 175.606 485.433 176.06 484.98 176.23 484.526 176.315 481.861 176.598 476.164 176.315 475.909 176.315 475.455 176.428 474.605 176.683 474.151 176.967 473.244 177.619 472.422 178.441 469.389 182.835 490.847 191.367 496.261 193.748 496.998 191.197 494.164 186.236 495.184 185.329 502.243 188.334 503.15 185.783 505.162 186.151 505.814 182.381z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Андижон вилояти: CLASICA SHOES INTERNATIONAL' %}"
                                                          data-phone="+99895 202-22-29" id="jqvmap1_item0"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M221.357,166.592L221.187 166.507 221.102 166.422 220.904 166.337 220.734 166.337 220.45 166.422 220.167 166.507 210.274 169.455 202.479 179.178 209.877 190.035 207.411 197.461 207.609 197.972 213.477 203.301 215.688 217.701 230.372 230.372 246.586 241.654 251.546 248.258 265.408 257.726 269.632 256.252 271.559 258.094 270.822 256.705 274.139 253.049 274.677 252.68 275.329 252.397 276.321 252.113 276.973 252.113 280.545 252.113 281.48 252.028 282.019 251.745 282.472 251.575 282.756 251.206 282.841 251.121 282.926 250.753 283.209 246.983 283.38 246.529 283.663 246.246 284.4 245.509 288.907 242.022 289.531 241.483 292.28 238.365 289.276 237.175 288.539 237.061 287.887 236.806 287.717 236.693 287.518 236.523 287.433 236.324 287.348 236.154 287.348 236.069 287.518 235.616 287.802 235.134 289.077 233.405 289.162 233.206 289.276 232.838 289.162 232.469 288.907 232.214 288.709 232.016 288.454 231.931 288.34 231.846 287.887 231.761 285.052 231.392 284.485 231.477 283.38 231.761 282.557 232.129 282.189 232.299 281.82 232.299 281.48 232.129 281.197 231.931 280.828 231.109 280.261 229.833 275.783 222.86 275.783 222.746 275.868 222.576 275.953 222.378 276.066 222.293 276.69 221.669 277.427 221.102 278.447 220.564 280.006 220.195 280.375 219.997 280.63 219.742 280.828 219.458 281.197 218.069 281.282 217.899 281.48 217.616 282.472 216.709 282.472 216.51 282.671 216.255 282.387 212.287 282.472 211.748 282.472 211.379 282.671 211.209 282.841 211.011 283.124 210.841 283.38 210.728 284.031 210.359 284.117 210.189 284.117 209.991 284.031 205.427 284.23 205.058 284.315 204.945 284.315 204.775 284.769 204.576 284.967 204.576 285.222 204.69 285.591 204.775 285.676 204.86 285.874 204.945 286.611 205.597 288.624 206.787 288.709 206.872 288.907 206.872 289.162 206.872 289.814 206.787 290.013 206.787 290.183 206.702 290.381 206.504 290.636 206.419 290.721 206.334 290.92 206.135 291.203 205.88 291.203 205.682 291.572 205.058 291.657 204.86 292.28 204.491 292.564 204.321 293.754 204.038 294.123 203.754 294.406 203.584 294.491 203.499 294.576 203.386 295.228 201.742 295.512 201.288 296.419 200.636 297.978 199.899 298.261 199.729 298.432 199.531 298.63 199.077 298.715 198.907 298.913 198.34 298.998 195.59 298.545 195.676 297.524 195.59 296.05 195.052 294.775 194.116 294.321 193.946 293.953 193.946 293.584 193.946 293.301 193.946 292.932 194.031 292.564 194.315 292.564 194.4 292.195 194.485 290.466 195.874 290.013 196.242 288.794 196.696 287.717 196.979 287.235 196.979 286.611 196.979 285.789 196.696 284.485 195.959 283.38 195.137 282.472 194.031 280.176 190.828 279.553 189.808 279.184 188.532 278.901 187.058 278.702 182.296 278.617 181.729 278.532 181.559 278.334 181.105 278.249 180.907 277.88 180.454 277.625 180.283 277.342 180.085 277.143 180.085 276.973 180.085 276.775 180.17 276.52 180.454 276.236 180.822 275.783 182.098 275.783 182.381 275.698 182.579 275.783 183.118 275.698 183.402 275.584 183.487 275.584 183.572 275.499 183.657 275.414 183.77 275.216 183.855 274.394 183.94 268.895 183.657 268.072 183.77 267.987 183.855 267.874 183.855 267.789 184.025 267.704 184.309 267.619 185.131 267.506 189.553 267.42 190.375 267.25 190.63 267.165 190.743 266.683 190.828 258.35 190.998 258.066 190.998 257.698 190.743 257.613 190.545 257.414 190.176 257.414 189.808 257.528 189.354 257.613 189.071 257.896 188.334 258.803 187.143 258.888 186.888 258.888 186.775 258.888 186.605 258.803 185.868 258.605 185.584 258.35 185.046 258.151 185.046 258.066 184.961 257.981 184.847 257.896 184.847 257.414 184.847 257.244 184.847 257.046 184.961 256.791 185.046 256.507 185.216 251.83 189.071 251.461 189.553 251.178 190.006 251.178 190.176 251.093 190.545 251.093 190.998 251.178 191.48 251.291 191.849 251.376 192.557 251.461 192.841 252.567 194.683 252.567 194.854 252.652 195.222 252.652 195.42 252.652 195.59 252.567 195.789 252.369 195.959 252.283 196.044 252.113 196.242 251.83 196.328 251.376 196.413 248.995 196.611 248.258 196.526 247.975 196.413 247.805 196.328 247.521 196.044 246.869 195.137 246.699 194.683 246.586 193.946 246.586 193.294 246.784 191.282 246.784 190.913 246.784 190.743 246.699 190.545 246.501 190.176 246.217 189.921 245.395 189.269 232.384 181.928 232.186 181.928 231.931 181.928 229.805 184.592 229.266 185.216 228.983 185.329 228.614 185.499 228.246 185.698 227.962 185.698 227.792 185.698 227.424 185.414 227.339 185.329 227.055 185.046 226.857 184.762 226.857 184.592 226.772 183.77 226.687 179.716 226.602 178.724 226.517 178.242 226.233 177.874 225.78 177.534 223.937 176.428 223.37 175.946 223.03 175.408 222.661 174.869 222.378 174.132 222.094 172.743 221.726 168.066 221.556 167.159 221.443 166.876z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Бухоро вилояти: MEXOVAYA  MODA' %}"
                                                          data-phone="+99891 416-17-79" id="jqvmap1_item1"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M321.647,240.009L321.392 240.094 320.655 240.746 316.885 244.318 316.346 244.602 315.978 244.687 315.694 244.687 315.326 244.602 315.043 244.318 314.674 243.865 311.839 238.904 310.932 237.175 310.365 236.239 309.997 235.786 309.543 235.502 309.458 235.417 309.09 235.417 309.005 235.417 308.806 235.417 308.636 235.502 308.353 235.701 308.154 235.786 307.616 236.523 306.709 238.734 292.394 238.252 289.276 241.739 284.4 245.509 283.663 246.246 283.38 246.529 283.209 246.983 282.926 250.753 282.841 251.121 282.756 251.206 282.472 251.575 282.019 251.745 281.48 252.028 280.545 252.113 276.973 252.113 276.321 252.113 275.329 252.397 274.677 252.68 274.139 253.049 270.822 256.705 278.986 265.323 288.454 269.546 306.142 282.869 310.195 283.776 314.306 281.565 320.287 283.408 327.628 288.822 334.602 290.296 335.877 288 335.962 287.915 336.076 287.802 336.699 287.433 338.088 286.979 338.825 286.894 339.449 286.809 342.397 286.979 342.85 286.894 343.049 286.894 343.672 286.611 344.126 286.356 344.693 285.789 345.43 284.797 345.798 284.23 345.969 283.776 345.969 283.606 346.054 282.954 345.883 281.31 345.883 280.375 345.969 280.006 346.054 279.751 346.904 278.362 346.989 278.192 347.159 277.994 347.443 277.824 347.528 277.71 347.726 277.71 347.981 277.71 349.54 277.994 349.909 277.994 350.192 277.994 350.391 277.994 350.476 277.994 350.561 277.909 350.561 277.824 350.646 277.71 350.731 276.633 350.844 276.265 351.014 275.698 351.213 275.329 352.29 273.968 352.488 273.685 352.573 273.316 352.573 272.665 352.12 270.368 352.12 269.546 352.12 269.376 352.205 269.178 352.29 269.008 352.403 268.923 352.658 268.724 352.942 268.639 353.962 268.441 356.06 268.356 357.165 268.072 357.619 267.902 358.271 267.534 358.441 267.25 358.441 267.08 358.554 266.712 358.554 266.258 358.356 264.501 358.441 263.225 358.639 262.12 358.923 261.468 359.093 261.014 359.376 260.759 359.546 260.759 359.745 260.561 359.915 260.561 360.113 260.561 360.567 260.646 361.106 260.844 362.495 261.468 363.317 261.666 364.224 261.581 364.592 261.468 365.528 261.213 365.613 261.099 365.698 260.929 365.896 260.759 365.896 260.391 365.896 259.909 365.698 259.172 365.528 258.548 365.244 258.094 365.046 257.981 364.592 257.613 363.77 256.705 363.487 256.337 363.487 256.252 363.402 255.883 363.487 255.685 364.791 253.757 365.414 253.134 365.528 253.049 365.613 253.049 372.387 248.995 366.718 246.784 356.797 242.391 354.699 241.03 353.14 240.293 352.035 239.924 351.298 239.811 350.277 239.924 349.654 240.094 349.37 240.179 348.803 240.548 348.548 240.746 347.981 241.285 347.528 242.022 346.706 243.779 346.535 244.318 345.146 243.128 340.753 240.009 339.732 239.471 338.712 239.102 337.72 238.904 336.784 238.819 335.962 238.989 335.14 239.357 334.403 239.924 333.666 240.661 332.929 241.568 331.654 244.233 331.37 244.97 329.556 242.844 328.535 241.937 328.252 241.739 327.515 241.483 327.345 241.37 327.061 241.37 326.891 241.37 326.693 241.37 326.239 241.568 325.871 241.739 325.786 241.937 325.417 242.391 325.134 242.844 324.765 243.865 324.595 244.602 324.51 244.97 324.312 245.055 324.142 245.225 323.773 245.424 323.688 245.424 323.121 245.509 322.838 245.509 322.753 245.339 322.668 244.97 322.583 244.233 322.583 240.746 322.469 240.378 322.299 240.094 322.214 240.009 322.129 239.924 321.931 239.924 321.846 239.924z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Қашқадарё вилояти: PREMIUM CAPITAL GROUP' %}"
                                                          data-phone="+99898 301-98-01"
                                                          id="jqvmap1_item2" class="jvectormap-region"
                                                          fill-opacity="1"></path>

                                                    <path d="M300.841,97.143L293.754 93.005 284.683 81.921 271.843 88.979 238.706 85.776 207.326 90.624 207.156 90.992 207.326 91.162 207.496 91.531 210.898 96.236 213.279 98.504 214.583 99.354 215.858 99.978 216.765 100.261 220.252 100.8 220.989 101.083 221.556 101.282 221.641 101.452 221.726 101.65 221.726 101.735 221.641 102.189 221.357 102.642 220.365 103.833 212.91 111.005 208.602 118.346 207.865 119.339 202.45 125.036 202.195 125.49 201.827 126.595 201.628 127.417 201.458 129.713 201.912 136.403 202.932 140.627 203.924 143.49 204.123 143.745 204.208 144.113 204.378 144.68 204.378 145.049 204.293 145.219 204.123 145.587 203.301 146.239 197.773 149.442 197.688 149.528 197.688 149.613 197.603 149.613 197.603 149.726 197.773 151.37 198.255 152.929 198.51 153.666 199.077 154.573 209.792 169.994 210.274 169.455 220.167 166.507 220.45 166.422 220.734 166.337 220.904 166.337 221.102 166.422 221.187 166.507 221.357 166.592 221.471 166.876 221.556 167.159 221.726 168.066 222.094 172.743 222.378 174.132 222.661 174.869 223.03 175.408 223.37 175.946 223.937 176.428 225.78 177.534 226.233 177.874 226.517 178.242 226.602 178.724 226.687 179.716 226.772 183.77 226.857 184.592 226.857 184.762 227.055 185.046 227.339 185.329 227.424 185.414 227.792 185.698 227.962 185.698 228.246 185.698 228.614 185.499 228.983 185.329 229.266 185.216 231.931 181.928 232.186 181.928 232.384 181.928 233.121 182.296 245.877 189.553 246.217 189.921 246.501 190.176 246.699 190.545 246.784 190.743 246.784 190.913 246.784 191.282 246.586 193.294 246.586 193.946 246.699 194.683 246.869 195.137 247.521 196.044 247.805 196.328 247.975 196.413 248.258 196.526 248.995 196.611 251.376 196.413 251.83 196.328 252.113 196.242 252.283 196.044 252.369 195.959 252.567 195.789 252.652 195.59 252.652 195.42 252.652 195.222 252.567 194.854 252.567 194.683 251.632 193.209 251.376 192.557 251.376 192.387 251.093 190.998 251.093 190.545 251.178 190.176 251.178 190.006 251.461 189.553 251.83 189.071 256.507 185.216 256.791 185.046 257.046 184.961 257.244 184.847 257.414 184.847 257.896 184.847 257.981 184.847 258.066 184.961 258.151 185.046 258.35 185.046 258.605 185.584 258.803 185.868 258.888 186.605 258.888 186.775 258.888 186.888 258.803 187.143 257.896 188.334 257.613 189.071 257.528 189.354 257.414 189.808 257.414 190.176 257.613 190.545 257.698 190.743 258.066 190.998 258.35 190.998 266.683 190.828 267.165 190.743 267.25 190.63 267.42 190.375 267.506 189.553 267.619 185.131 267.704 184.309 267.789 184.025 267.874 183.855 267.987 183.855 268.072 183.77 268.895 183.657 274.394 183.94 275.216 183.855 275.414 183.77 275.499 183.657 275.584 183.572 275.584 183.487 275.698 183.402 275.783 183.118 275.698 182.579 275.783 182.381 275.783 182.098 276.236 180.822 276.52 180.454 276.775 180.17 276.973 180.085 277.143 180.085 277.342 180.085 277.625 180.283 277.88 180.454 278.249 180.907 278.334 181.105 278.532 181.559 278.617 181.729 278.702 182.296 278.901 187.058 279.184 188.532 279.553 189.808 280.176 190.828 282.472 194.031 283.38 195.137 284.485 195.959 284.769 196.242 285.789 196.696 286.611 196.979 287.235 196.979 287.717 196.979 288.794 196.696 290.013 196.242 290.466 195.874 292.195 194.485 292.564 194.4 292.564 194.315 292.932 194.031 293.301 193.946 293.584 193.946 293.953 193.946 294.321 193.946 294.775 194.116 296.05 195.052 297.524 195.59 298.545 195.676 298.998 195.59 298.913 198.34 298.63 199.077 298.432 199.531 298.261 199.729 297.978 199.899 296.419 200.636 295.767 201.09 295.512 201.288 295.228 201.742 294.576 203.386 294.491 203.499 294.406 203.584 294.123 203.754 293.754 204.038 292.564 204.321 292.28 204.491 291.657 204.86 291.572 205.058 291.203 205.88 290.92 206.135 290.721 206.334 290.636 206.419 290.381 206.504 290.183 206.702 290.013 206.787 289.814 206.787 289.162 206.872 288.907 206.872 288.709 206.872 288.624 206.787 286.611 205.597 285.874 204.945 285.676 204.86 285.591 204.775 285.222 204.69 284.967 204.576 284.769 204.576 284.315 204.775 284.315 204.945 284.23 205.058 284.031 205.427 284.117 209.991 284.117 210.189 284.031 210.359 283.38 210.728 283.124 210.841 282.841 211.011 282.671 211.209 282.472 211.379 282.472 211.748 282.387 212.287 282.671 216.255 282.472 216.51 282.472 216.709 281.48 217.616 281.282 217.899 281.197 218.069 280.828 219.458 280.63 219.742 280.375 219.997 280.006 220.195 278.816 220.45 277.427 221.102 276.69 221.669 276.066 222.293 275.953 222.378 275.868 222.576 275.783 222.746 275.783 222.86 280.261 229.833 280.828 231.109 281.197 231.931 281.48 232.129 281.82 232.299 282.189 232.299 282.557 232.129 283.38 231.761 284.485 231.477 285.052 231.392 287.887 231.761 288.34 231.846 288.454 231.931 288.709 232.016 288.907 232.214 289.162 232.469 289.276 232.838 289.162 233.206 289.077 233.405 287.802 235.134 287.518 235.616 287.348 236.069 287.348 236.154 287.433 236.324 287.518 236.523 287.717 236.693 288.17 236.891 292.28 238.365 292.394 238.252 294.208 238.365 294.038 231.761 294.123 231.194 294.123 230.91 293.953 230.287 293.669 230.003 293.017 229.465 290.721 228.274 290.636 228.161 290.268 227.792 290.183 227.622 289.814 226.97 289.729 226.715 289.729 226.233 289.729 226.063 289.814 225.779 290.098 225.609 290.466 225.411 290.636 225.411 291.373 225.411 293.131 225.779 293.386 225.779 293.868 225.694 293.953 225.694 294.208 225.609 294.491 225.326 294.69 225.156 294.775 224.674 294.86 223.682 294.86 223.483 294.945 223.398 295.058 223.228 295.143 223.228 295.313 223.115 295.682 223.228 296.617 223.767 297.808 224.305 297.978 224.419 298.432 224.419 298.913 224.419 298.998 224.419 299.452 224.305 299.906 223.937 300.189 223.597 300.274 223.313 300.359 222.945 300.557 221.839 300.359 220.11 300.359 216.425 300.359 216.142 300.359 215.688 300.557 215.518 300.643 215.405 300.728 215.32 300.841 215.235 300.926 215.235 301.096 215.235 301.294 215.32 301.465 215.405 301.748 215.603 302.854 216.425 306.142 218.721 306.794 219.09 307.247 219.175 307.446 219.175 307.616 219.175 307.701 219.09 307.899 219.005 308.069 218.438 308.069 218.183 308.154 216.794 308.154 216.425 308.353 216.34 308.523 216.255 308.636 216.255 308.806 216.255 309.005 216.34 309.373 216.51 311.102 218.069 311.839 218.523 312.293 218.721 312.746 218.721 312.945 218.721 313.228 218.636 313.682 218.438 314.306 217.984 317.169 215.518 317.707 214.781 317.906 214.498 317.991 214.328 317.991 214.044 317.991 213.959 317.169 213.59 314.872 212.57 314.589 212.116 314.504 212.031 314.504 211.833 314.504 211.465 314.504 211.379 314.589 211.294 314.787 211.011 314.957 210.841 315.865 210.104 318.614 206.986 319.096 205.965 319.465 201.288 319.635 200.466 320.457 198.34 320.74 198.085 321.194 197.603 321.761 197.235 322.384 197.15 322.838 197.15 323.121 197.15 323.32 197.15 323.575 197.348 323.688 197.518 323.688 197.603 323.773 197.887 323.943 198.709 324.51 200.466 324.595 200.551 324.765 200.721 324.879 200.835 325.049 200.835 325.332 200.92 325.786 200.835 326.069 200.636 326.806 200.013 327.26 199.446 327.43 199.162 327.997 197.972 328.252 197.603 328.365 197.518 328.62 197.433 328.819 197.433 330.094 197.972 330.293 198.085 330.463 198.17 330.548 198.255 330.661 198.624 330.661 200.183 330.661 200.466 330.746 200.636 330.832 200.835 331.002 201.09 331.115 201.09 331.2 201.203 331.285 201.203 331.852 201.203 332.476 200.92 333.411 200.381 334.318 199.446 334.517 199.162 334.772 198.539 334.772 198.34 334.857 197.15 334.97 196.696 335.225 195.874 335.594 195.335 336.161 194.967 336.784 194.768 338.173 194.598 339.279 194.598 339.562 193.493 339.647 192.472 339.449 191.197 339.08 190.091 338.825 189.439 338.088 188.532 337.72 188.079 337.351 187.058 336.529 184.139 336.416 181.644 336.614 180.539 336.699 180.085 336.898 179.802 337.068 179.631 337.153 179.631 338.258 178.894 338.712 178.809 338.712 178.724 338.825 178.611 338.995 178.441 338.995 177.619 338.91 175.861 338.825 175.408 338.825 175.238 335.424 174.954 330.293 154.573 329.102 144.765 315.411 145.049 315.326 131.272 316.233 129.628 317.169 108.51 309.09 113.102z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Навоий вилояти: SARABEL-DIAMET KARAKUL' %}"
                                                          data-phone="+99836 223-80-81" id="jqvmap1_item3"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M409.663,160.441L407.622 160.186 399.827 164.494 400.394 170.561 392.598 176.23 391.663 179.461 391.493 179.631 391.493 180.085 391.124 181.644 391.124 182.296 391.209 182.75 391.294 183.033 391.493 183.203 391.578 183.288 391.748 183.487 392.683 183.855 394.157 184.762 396.539 187.058 400.649 192.104 401.953 193.209 402.69 194.031 402.945 194.485 403.682 195.959 403.88 196.894 404.05 198.822 403.88 200.92 403.767 201.572 403.143 203.584 403.058 204.236 402.945 205.228 403.058 205.682 403.313 206.504 403.313 206.872 403.427 206.872 403.512 206.872 408.728 207.609 409.748 206.986 407.169 204.69 407.083 203.499 409.181 204.236 410.031 202.932 405.893 194.4 409.181 192.557 408.926 188.079 409.748 186.066 412.044 184.762 419.017 190.46 420.746 190.261 422.504 187.625 434.154 181.644 437.074 178.526 437.443 175.039 438.746 174.132 440.844 175.493 440.844 175.408 441.043 172.205 440.929 171.751 440.929 171.468 440.476 170.192 439.937 169.087 438.009 165.968 437.641 165.231 437.556 164.863 437.556 164.409 437.726 163.304 438.378 161.008 439.002 160.554 438.746 160.639 436.989 158.428 431.206 157.323 430.469 155.027 438.009 149.726 443.14 142.469 447.562 141.194 447.817 137.14 457.172 132.378 458.646 130.45 452.239 126.68 450.113 128.806 444.161 131.556 441.666 137.877 437.272 135.411 433.332 137.962 432.68 140.372 426.359 148.167 415.162 152.844 409.096 158.428z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Тошкент вилояти: DEAL SHOES BUSINESS' %}"
                                                          data-phone="+99897 745-37-95" id="jqvmap1_item4"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M403.88,196.894l-0.198-0.935l-0.737-1.474l-0.255-0.454l-0.737-0.822 l-1.304-1.106l-4.11-5.046l-2.381-2.296l-1.474-0.907l-0.935-0.368l-0.17-0.198l-0.085-0.085l-0.198-0.17l-0.085-0.283 l-0.085-0.454v-0.652l0.368-1.559v-0.454l-3.6,2.466l0.283,6.973l1.191,0.283l0.652,3.685l-1.105,0.822l-2.013-0.822l-1.389,1.361 l-4.11-2.381v0.283v4.11l-0.113,0.368l-0.17,0.198h-0.085l-0.368-0.085l-1.106-0.567l-0.907-0.17l-0.283-0.113h-0.198 l-0.255,0.113l-0.482,0.085l-0.17,0.085l-0.198,0.085l-0.255,0.368l-0.085,0.283l-0.198,0.737v0.085v0.198l0.085,0.085 l0.935,1.106l0.369,0.539l0.085,0.368l0.085,0.198v0.17L378,200.835l-0.198,0.255l-0.085,0.198l-0.369,0.17 c0,0.113-0.085,0.113-0.17,0.113l-1.559,0.624l-0.454,0.283l-0.198,0.368l-0.085,0.368l-0.085,0.454l-0.198,0.652l-0.652,1.191 l-0.085,0.085l-0.085,0.539l0.085,0.737l0.085,0.283l0.113,0.283l0.17,0.283l0.567,0.454l0.368,0.17l0.822,0.283l0.992,0.17h2.296 l1.276-0.17l4.961-1.843l0.198-0.085h0.17l0.567,0.085l0.992,0.454l0.454,0.283l0.113,0.198l0.255,0.454v0.17v0.283l-0.085,0.17 l-1.361,2.409l-0.198,0.34v0.198l-0.085,0.454v0.085l0.085,0.935l0.085,0.368l0.113,0.085l0.255,0.17l0.283,0.198l1.02,0.085 h1.276l0.454,0.085l0.283,0.198l0.085,0.085l0.368,0.539l0.198,0.283v0.283l-0.113,0.085v0.198l-0.085,0.085l-0.17,0.085 l-0.283,0.283l-2.013,0.992l-0.368,0.368l-0.283,0.283l-0.198,0.283v0.17v0.198l0.113,0.085v0.17l0.17,0.368l0.085,0.113 l0.368,0.255l0.482,0.283l0.255,0.085l0.567,0.113h0.539l0.567-0.113l0.255-0.085l0.567-0.283l0.454-0.454l0.454-0.907 l0.652-1.757l0.085-0.17l0.085-0.198l0.198-0.17h0.085h0.17h0.198l0.17,0.085l0.198,0.454l1.276,0.198l1.191,2.92l1.105,0.567 l1.02-0.822l-3.969-6.151l0.567-0.822l1.105,1.559l1.276-1.304l2.948,0.113l-0.283-2.948l-3.402,0.454l-4.394,1.106 c-0.964-0.624,0.454-0.822,0.595-1.304c0.68-2.069,8.504-3.033,10.035-3.203v-0.368l-0.255-0.822l-0.113-0.454l0.113-0.992 l0.085-0.652l0.624-2.013l0.113-0.652l0.17-2.098L403.88,196.894z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Гулистан вилояти: PENG SHENG SHOES' %}"
                                                          data-phone="+99894 204-17-55" id="jqvmap1_item5"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M335.225,195.874L334.97 196.696 334.857 197.15 334.772 198.34 334.772 198.539 334.517 199.162 334.318 199.446 333.411 200.381 332.476 200.92 331.852 201.203 331.285 201.203 331.2 201.203 331.115 201.09 331.002 201.09 330.832 200.835 330.746 200.636 330.661 200.466 330.661 200.183 330.661 198.624 330.548 198.255 330.463 198.17 330.293 198.085 330.094 197.972 328.819 197.433 328.62 197.433 328.365 197.518 328.252 197.603 327.997 197.972 327.43 199.162 327.26 199.446 326.806 200.013 326.069 200.636 325.786 200.835 325.332 200.92 325.049 200.835 324.879 200.835 324.765 200.721 324.595 200.551 324.51 200.466 323.943 198.709 323.773 197.887 323.688 197.603 323.688 197.518 323.575 197.348 323.32 197.15 323.121 197.15 322.838 197.15 322.384 197.15 321.761 197.235 321.194 197.603 320.74 198.085 320.457 198.34 319.635 200.466 319.465 201.288 319.096 205.965 318.614 206.986 315.865 210.104 314.957 210.841 314.787 211.011 314.589 211.294 314.504 211.379 314.504 211.465 314.504 211.833 314.504 212.031 314.589 212.116 314.872 212.57 317.169 213.59 317.991 213.959 317.991 214.044 317.991 214.328 317.906 214.498 317.707 214.781 317.169 215.518 314.306 217.984 313.682 218.438 313.228 218.636 312.945 218.721 312.746 218.721 312.293 218.721 311.839 218.523 311.102 218.069 309.373 216.51 309.005 216.34 308.806 216.255 308.636 216.255 308.523 216.255 308.353 216.34 308.154 216.425 308.154 216.794 308.069 218.183 308.069 218.438 307.899 219.005 307.701 219.09 307.616 219.175 307.446 219.175 307.247 219.175 306.794 219.09 306.142 218.721 302.854 216.425 302.117 215.887 301.748 215.603 301.465 215.405 301.294 215.32 301.096 215.235 300.926 215.235 300.841 215.235 300.728 215.32 300.643 215.405 300.557 215.518 300.359 215.688 300.359 216.142 300.359 216.425 300.359 220.11 300.557 221.839 300.359 222.945 300.274 223.313 300.189 223.597 299.906 223.937 299.452 224.305 298.998 224.419 298.913 224.419 298.432 224.419 297.978 224.419 297.808 224.305 296.617 223.767 295.682 223.228 295.313 223.115 295.143 223.228 295.058 223.228 294.945 223.398 294.86 223.483 294.86 223.682 294.775 224.674 294.69 225.156 294.491 225.326 294.208 225.609 293.953 225.694 293.868 225.694 293.386 225.779 293.131 225.779 291.373 225.411 290.636 225.411 290.466 225.411 290.098 225.609 289.814 225.779 289.729 226.063 289.729 226.233 289.729 226.715 289.814 226.97 290.183 227.622 290.268 227.792 290.636 228.161 290.721 228.274 293.017 229.465 293.669 230.003 293.953 230.287 294.123 230.91 294.123 231.194 294.038 231.761 294.208 238.365 306.709 238.734 307.616 236.523 308.154 235.786 308.353 235.701 308.636 235.502 308.806 235.417 309.005 235.417 309.09 235.417 309.458 235.417 309.543 235.502 309.997 235.786 310.365 236.239 310.932 237.175 311.839 238.904 314.674 243.865 315.043 244.318 315.326 244.602 315.694 244.687 315.978 244.687 316.346 244.602 316.885 244.318 320.655 240.746 321.392 240.094 321.647 240.009 321.846 239.924 321.931 239.924 322.129 239.924 322.214 240.009 322.299 240.094 322.469 240.378 322.583 240.746 322.583 244.233 322.668 244.97 322.753 245.339 322.838 245.509 323.121 245.509 323.688 245.424 323.773 245.424 324.142 245.225 324.312 245.055 324.51 244.97 324.595 244.602 324.765 243.865 325.134 242.844 325.417 242.391 325.786 241.937 325.871 241.739 326.239 241.568 326.693 241.37 326.891 241.37 327.061 241.37 327.345 241.37 327.515 241.483 328.252 241.739 328.535 241.937 329.556 242.844 331.37 244.97 331.654 244.233 332.929 241.568 333.666 240.661 334.403 239.924 335.14 239.357 335.962 238.989 336.784 238.819 337.72 238.904 338.712 239.102 339.732 239.471 340.753 240.009 345.146 243.128 346.535 244.318 346.706 243.779 347.528 242.022 347.981 241.285 348.548 240.746 348.803 240.548 349.37 240.179 349.654 240.094 350.277 239.924 351.298 239.811 352.035 239.924 353.14 240.293 354.699 241.03 356.797 242.391 357.25 242.589 357.902 236.154 359.915 235.701 358.639 229.635 358.554 227.905 358.639 227.424 358.809 226.97 359.008 226.8 359.376 226.431 359.546 226.233 360.652 225.779 361.106 225.496 361.559 225.156 361.843 224.674 361.928 224.504 362.041 224.305 362.041 223.937 362.041 223.767 361.928 223.682 361.843 223.483 361.559 223.228 361.389 223.115 361.02 222.86 360.113 222.576 357.902 222.293 357.619 222.208 357.449 222.123 356.995 221.754 356.712 221.471 356.343 221.187 356.258 221.187 356.06 221.187 355.975 221.301 355.776 221.386 355.238 221.839 354.416 222.293 354.217 222.378 353.31 222.576 352.857 222.576 352.658 222.576 352.29 222.378 351.383 221.924 350.646 221.301 350.022 220.564 349.909 220.365 349.824 220.28 349.824 219.997 349.739 218.523 349.909 217.899 350.192 217.332 350.192 216.964 350.192 216.794 350.192 216.595 350.107 216.34 349.909 216.057 349.824 215.972 349.654 215.773 349.172 215.603 347.811 215.603 347.443 215.518 347.244 215.405 347.159 215.32 346.989 215.32 346.904 215.15 346.791 214.951 346.706 214.781 346.706 213.109 346.535 212.4 346.422 212.116 346.252 211.748 346.054 211.55 345.883 211.465 345.685 211.465 345.43 211.379 342.198 211.294 341.66 211.096 341.376 210.841 341.206 210.472 340.838 209.452 340.753 209.083 340.639 208.431 340.753 207.808 340.838 207.156 341.291 206.249 341.83 204.576 342.028 203.584 342.113 203.216 342.028 202.564 341.83 202.195 341.49 201.742 341.206 201.373 340.753 201.09 340.384 201.005 340.016 200.92 339.647 200.835 339.08 200.466 338.825 200.183 338.542 199.644 338.542 199.276 338.542 199.077 338.627 198.992 338.91 198.454 339.08 197.716 339.449 195.789 339.732 194.967 339.817 194.23 339.732 193.039 339.647 192.302 339.562 193.408 339.279 194.598 337.635 194.598 336.784 194.768 336.161 194.967 335.594 195.335z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Самарқанд вилояти: ELEGANT SHOES' %}"
                                                          data-phone="+99891 555-86-66"
                                                          id="jqvmap1_item6" class="jvectormap-region"
                                                          fill-opacity="1"></path>

                                                    <path d="M469.899,183.061L469.672 183.118 469.559 183.118 469.559 183.033 469.474 182.948 469.389 182.835 469.389 182.948 469.304 183.033 468.822 183.657 467.745 184.677 466.356 185.584 465.902 185.783 464.712 186.151 464.145 186.151 463.068 186.151 462.784 186.066 462.132 185.783 461.849 185.584 461.027 184.762 460.488 184.394 459.751 184.139 459.468 184.139 455.159 183.855 454.054 184.025 453.685 184.139 452.863 184.592 451.587 185.046 450.113 185.216 449.575 185.499 438.094 197.065 441.411 199.729 443.509 199.361 446.343 204.406 449.008 204.576 465.165 199.361 472.876 202.564 475.172 200.268 476.731 204.123 479.027 203.301 480.954 199.814 485.802 200.013 484.072 197.433 487.474 194.967 487.474 192.926 490.847 191.367 492.406 192.047 492.406 192.104 490.847 191.367z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1"
                                                          data-phone="+99898 276-17-15" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Фарғона вилояти: VODIY SHOES' %}"
                                                          id="jqvmap1_item7"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M381.402,192.302L381.402 192.019 371.934 186.605 374.315 184.309 375.165 177.874 372.132 178.441 369.099 172.942 367.087 174.217 365.698 173.565 345.146 175.776 338.825 175.238 338.825 175.408 338.995 177.619 338.995 178.441 338.825 178.611 338.712 178.724 338.712 178.809 338.258 178.894 337.153 179.631 337.068 179.631 336.898 179.802 336.699 180.085 336.614 180.539 336.416 181.644 336.529 184.139 337.351 187.058 337.72 188.079 338.088 188.532 338.627 189.184 338.91 189.553 339.449 190.998 339.562 191.65 339.647 192.302 339.732 193.039 339.817 194.23 339.732 194.967 339.449 195.789 339.08 197.716 338.91 198.454 338.627 198.992 338.542 199.077 338.542 199.276 338.542 199.644 338.825 200.183 339.08 200.466 339.647 200.835 340.016 200.92 340.384 201.005 340.753 201.09 341.206 201.373 341.49 201.742 341.83 202.195 342.028 202.564 342.113 203.216 342.028 203.584 341.83 204.576 341.291 206.249 340.838 207.156 340.753 207.808 340.639 208.431 340.838 209.452 341.206 210.472 341.376 210.841 341.66 211.096 342.198 211.294 345.43 211.379 345.685 211.465 345.883 211.465 346.054 211.55 346.252 211.748 346.422 212.116 346.535 212.4 346.706 213.109 346.706 214.781 346.791 214.951 346.904 215.15 346.989 215.32 347.159 215.32 347.244 215.405 347.443 215.518 347.811 215.603 349.172 215.603 349.654 215.773 349.824 215.972 349.909 216.057 350.107 216.34 350.192 216.595 350.192 216.794 350.192 216.964 350.192 217.332 349.909 217.899 349.739 218.523 349.824 219.997 349.824 220.28 349.909 220.365 350.022 220.564 350.646 221.301 351.383 221.924 352.29 222.378 352.658 222.576 352.857 222.576 353.31 222.576 354.217 222.378 354.416 222.293 355.238 221.839 355.776 221.386 355.975 221.301 356.06 221.187 356.258 221.187 356.343 221.187 356.712 221.471 356.995 221.754 357.449 222.123 357.619 222.208 357.902 222.293 360.113 222.576 361.02 222.86 361.389 223.115 361.559 223.228 361.843 223.483 361.928 223.682 362.041 223.767 362.041 223.937 362.041 224.305 361.928 224.504 361.843 224.674 361.559 225.156 361.106 225.496 360.652 225.779 359.546 226.233 359.376 226.431 359.008 226.8 358.809 226.97 358.639 227.424 358.554 227.905 358.639 229.635 359.546 233.943 365.329 230.74 386.702 233.036 388.998 232.299 388.743 231.477 391.294 228.813 391.209 221.301 392.854 220.649 394.696 221.924 394.781 219.175 393.874 216.425 394.243 216.51 394.044 216.057 393.874 215.972 393.676 215.972 393.506 215.972 393.42 215.972 393.222 216.142 393.137 216.34 393.052 216.51 392.4 218.268 391.946 219.175 391.493 219.628 390.926 219.912 390.671 219.997 390.104 220.11 389.565 220.11 388.998 219.997 388.743 219.912 388.261 219.628 387.893 219.373 387.808 219.26 387.638 218.891 387.638 218.721 387.524 218.636 387.524 218.438 387.524 218.268 387.723 217.984 388.006 217.701 388.375 217.332 390.387 216.34 390.671 216.057 390.841 215.972 390.926 215.887 390.926 215.688 391.039 215.603 391.039 215.32 390.841 215.036 390.387 214.413 390.104 214.214 389.65 214.129 388.375 214.129 387.354 214.044 387.071 213.846 386.816 213.676 386.702 213.59 386.617 213.222 386.532 212.287 386.532 212.202 386.617 211.55 386.816 211.209 388.176 208.8 388.261 208.63 388.261 208.346 388.261 208.176 388.006 207.723 387.893 207.524 387.439 207.241 386.447 206.787 385.88 206.702 385.71 206.702 385.512 206.787 380.551 208.63 379.276 208.8 376.98 208.8 375.987 208.63 375.165 208.346 374.797 208.176 374.23 207.723 374.06 207.439 373.946 207.156 373.861 206.872 373.776 206.135 373.861 205.597 373.946 205.512 374.598 204.321 374.797 203.669 374.882 203.216 374.967 202.847 375.165 202.479 375.619 202.195 377.348 201.458 377.717 201.288 377.802 201.09 378 200.835 378.085 200.551 378.085 200.381 378 200.183 377.915 199.814 377.546 199.276 376.611 198.17 376.526 198.085 376.526 197.887 376.526 197.802 376.724 197.065 376.809 196.781 377.065 196.413 377.263 196.328 377.433 196.242 377.915 196.157 378.17 196.044 378.368 196.044 378.822 196.157 379.559 196.328 380.665 196.894 381.033 196.979 381.118 196.979 381.288 196.781 381.402 196.413z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Жиззах вилояти: NURLI MAKON JILOSI' %}"
                                                          data-phone="+99891 944-12-19" id="jqvmap1_item8"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M437.641,165.231L438.009 165.968 439.937 169.087 440.476 170.192 440.929 171.468 440.929 171.751 440.844 175.408 440.844 175.493 441.95 176.23 446.173 182.013 445.068 182.296 445.521 183.855 449.83 185.216 449.575 185.499 450.113 185.216 451.587 185.046 452.608 184.677 453.685 184.139 454.054 184.025 455.159 183.855 459.468 184.139 459.751 184.139 460.488 184.394 461.027 184.762 461.849 185.584 462.132 185.783 462.784 186.066 463.068 186.151 463.606 186.151 464.712 186.151 465.902 185.783 466.356 185.584 467.745 184.677 468.822 183.657 469.304 183.033 472.791 177.987 473.244 177.619 474.151 176.967 475.087 176.513 475.909 176.315 476.164 176.315 481.861 176.598 484.526 176.315 484.98 176.23 485.433 176.06 486.085 175.606 487.105 174.671 487.361 174.217 487.928 173.112 488.013 172.375 488.013 172.12 487.928 171.553 488.296 169.824 486.907 164.778 485.717 164.409 483.42 166.337 481.776 164.948 479.48 165.685 478.29 160.554 474.52 156.047 472.791 157.323 472.054 152.646 470.863 152.759 470.296 154.857 471.033 157.606 469.672 162.368 465.902 160.724 465.987 169.455 463.89 167.783 462.699 169.71 461.14 166.961 459.836 167.414 460.12 169.71 459.383 169.909 456.35 167.783 448.016 166.224 447.902 162.198 445.436 158.173 444.161 157.975 438.746 160.639 439.002 160.554 438.378 161.008 437.726 163.304 437.556 164.409 437.556 164.863z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Наманган вилояти: KOSONSOY Al-AZIZ' %}"
                                                          data-phone="+998 97 250 61 69"
                                                          id="jqvmap1_item9" class="jvectormap-region"
                                                          fill-opacity="1"></path>

                                                    <path d="M386.164,280.573L381.402 277.087 377.348 269.915 377.348 260.561 379.729 259.824 380.381 258.463 377.178 253.134 370.29 254.324 365.783 253.219 365.783 252.935 365.528 253.049 365.414 253.134 364.791 253.757 363.487 255.685 363.402 255.883 363.487 256.252 363.487 256.337 363.77 256.705 364.592 257.613 365.046 257.981 365.244 258.094 365.528 258.548 365.698 259.172 365.896 259.909 365.896 260.391 365.896 260.759 365.698 260.929 365.613 261.099 365.528 261.213 364.592 261.468 364.224 261.581 363.317 261.666 362.495 261.468 361.106 260.844 360.567 260.646 360.113 260.561 359.915 260.561 359.745 260.561 359.546 260.759 359.376 260.759 359.093 261.014 358.923 261.468 358.639 262.12 358.441 263.225 358.356 264.501 358.554 266.258 358.554 266.712 358.441 267.08 358.441 267.25 358.271 267.534 357.619 267.902 357.165 268.072 356.06 268.356 353.962 268.441 352.942 268.639 352.658 268.724 352.403 268.923 352.29 269.008 352.205 269.178 352.12 269.376 352.12 269.546 352.12 270.368 352.573 272.665 352.573 273.316 352.488 273.685 352.29 273.968 351.213 275.329 351.014 275.698 350.844 276.265 350.731 276.633 350.646 277.71 350.561 277.824 350.561 277.909 350.476 277.994 350.391 277.994 350.192 277.994 349.909 277.994 349.54 277.994 347.981 277.71 347.726 277.71 347.528 277.71 347.443 277.824 347.159 277.994 346.989 278.192 346.904 278.362 346.054 279.751 345.969 280.006 345.883 280.375 345.883 281.31 346.054 282.954 345.969 283.606 345.969 283.776 345.798 284.23 345.43 284.797 344.693 285.789 344.126 286.356 343.672 286.611 343.049 286.894 342.85 286.894 342.397 286.979 339.449 286.809 338.825 286.894 338.088 286.979 336.699 287.433 336.076 287.802 335.962 287.915 335.877 288 334.602 290.296 334.517 290.466 336.076 290.92 337.436 293.783 333.95 299.282 333.581 309.288 335.14 311.386 333.581 313.597 334.233 314.787 341.83 315.609 346.989 314.249 349.909 315.156 351.95 317.452 354.954 320.485 362.041 317.622 364.139 319.379 368.447 319.011 371.197 319.833 372.501 317.537 372.217 308.381 378.652 298.545 380.665 292.507 384.236 291.402 386.986 282.387z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Сурхондарё вилояти: SURXONDARYO CHARM' %}"
                                                          data-phone="+99894 204-17-55"
                                                          id="jqvmap1_item10" class="jvectormap-region"
                                                          fill-opacity="1"></path>

                                                    <path d="M154.346,152.022h-0.709l-1.928,2.183l0.057,0.113l-0.17,0.198 l2.608,4.309l-2.126,2.721l-0.028,0.198l-0.085,0.113l-0.737,3.288l11.112,8.532l15.506-1.106l6.236,2.948l0.539-0.454 l4.054-1.049l8.306,9.808l-0.312,4.394l2.381,4.847l8.362,4.394l2.466-7.427l-7.427-10.857l-6.293-6.265l-11.509-2.494 l-0.283,2.268c-0.425-0.312-0.85-0.652-1.276-0.992c-1.247-0.935-2.296-2.126-3.572-3.005c-0.907-0.652-1.928-1.134-2.92-1.616 c-0.765-0.34-1.616-0.482-2.324-0.879c-0.595-0.34-1.162-0.794-1.587-1.332c-0.454-0.539-0.68-1.191-0.992-1.786 c-0.425-0.822-0.624-1.814-1.247-2.494c-0.51-0.567-1.361-0.765-2.041-1.162c-1.276-0.709-2.551-1.417-3.827-2.126 c-0.482-0.283-0.964-0.624-1.502-0.794c-0.595-0.198-1.247-0.227-1.871-0.283c-0.879-0.028-1.814,0.198-2.665,0 c-0.652-0.142-1.304-0.482-1.786-0.964C155.906,154.403,155.112,153.128,154.346,152.022z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Хоразм вилояти: DARITAL SHOES' %}"
                                                          data-phone="+99891 429-90-80" id="jqvmap1_item11"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M425.225,162.312c0,0.879-0.198,1.672-0.567,2.409 c-0.482,0.935-1.247,1.729-2.154,2.239c-0.765,0.425-1.644,0.68-2.58,0.68c-0.907,0-1.757-0.227-2.494-0.624 c-1.672-0.907-2.806-2.665-2.806-4.706c0-0.879,0.198-1.729,0.595-2.466c0.142-0.227,0.283-0.482,0.454-0.709 c0.227-0.283,0.454-0.539,0.737-0.794c0.255-0.227,0.539-0.425,0.85-0.595c0.283-0.198,0.624-0.34,0.964-0.454 c0.539-0.17,1.105-0.283,1.701-0.283c0.765,0,1.502,0.17,2.154,0.454c0.709,0.34,1.361,0.794,1.871,1.389 c0.454,0.539,0.822,1.162,1.02,1.843C425.14,161.206,425.225,161.745,425.225,162.312z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Тошкент шаҳри: DELTA DELFIN DIZAYN' %}"
                                                          id="jqvmap1_item12"
                                                          data-phone="+99890 571-72-00"
                                                          class="jvectormap-region" fill-opacity="1"></path>

                                                    <path d="M66.558,144.68l1.474-4.139l7.427-5.868l4.791-1.474l6.236,0.368 l3.77-0.368h2.098l-0.283-1.843l3.317-4.762l-1.106-2.58l4.309-2.551l6.69,5.131l1.474,4.762l2.948-0.737l-4.054-8.787 l-5.216-4.507l4.479-2.58l7.824,2.58l1.446-4.394l8.079,9.269l6.236,0.368l2.665,3.657l-0.822,3.317l16.243,2.183l5.868,5.499 l-2.183,1.474l0.368,2.948l-2.58,2.296l5.584,1.843l3.969,6.236h-3.26c0.765,1.106,1.559,2.381,2.409,3.232 c0.482,0.482,1.134,0.822,1.786,0.964c0.85,0.198,1.786-0.028,2.665,0c0.624,0.057,1.276,0.085,1.871,0.283 c0.539,0.17,1.02,0.51,1.502,0.794c1.276,0.709,2.551,1.417,3.827,2.126c0.68,0.397,1.531,0.595,2.041,1.162 c0.624,0.68,0.822,1.672,1.247,2.494c0.312,0.595,0.539,1.247,0.992,1.786c0.425,0.539,0.992,0.992,1.587,1.332 c0.709,0.397,1.559,0.539,2.324,0.879c0.992,0.482,2.013,0.964,2.92,1.616c1.276,0.879,2.324,2.069,3.572,3.005v0.028h0.028l0,0 l0.028,0.028h0.028v0.028l0,0l0.028,0.028l0,0h0.028v0.028h0.028l0,0l0.028,0.028l0,0h0.028v0.028h0.028l0,0l0.028,0.028l0,0 l0.028,0.028l0,0l0.028,0.028l0,0l0,0l0.028,0.028h0.028l0,0l0.028,0.028l0,0l0,0l0.028,0.028h0.028l0,0v0.028h0.028v0.028 l0.057,0.028l0,0l0.028,0.028l0,0h0.028v0.028h0.028l0,0l0.028,0.028h0.028l0,0v0.028h0.028l0,0l0.028,0.028l0,0l0.028,0.028l0,0 l0.028,0.028l0,0h0.028v0.028h0.028l0,0l0.028,0.028l0,0l0,0l0.028,0.028h0.028l0,0l0.028,0.028l0,0l0.028,0.028l0,0h0.028v0.028 l0,0l0.028,0.028h0.028l0,0l0.028,0.028l0,0l0,0l0.028,0.028h0.028l0,0l0.028,0.028l0,0l0,0l0.028,0.028h0.028l0,0v0.028 l0.283-2.268l11.509,2.494l6.293,6.265l7.342-9.184l-10.715-15.42l-0.567-0.907l-0.255-0.737l-0.482-1.559l-0.17-1.644v-0.113 h0.085v-0.085l0.085-0.085l5.528-3.203l0.822-0.652l0.17-0.368l0.085-0.17v-0.369l-0.17-0.567l-0.085-0.368l-0.198-0.255 l-0.992-2.863l-1.02-4.224l-0.454-6.69l0.17-2.296l0.198-0.822l0.369-1.106l0.255-0.454l5.414-5.698l0.737-0.992l4.309-7.342 l7.455-7.172l0.992-1.191l0.283-0.454l0.085-0.454v-0.085l-0.085-0.198l-0.085-0.17l-0.567-0.198l-0.737-0.283l-3.487-0.539 l-0.907-0.283l-1.276-0.624l-1.757-1.191l-1.928-1.928l-3.402-4.706l-14.627-20.154l-72.907-61.2L50.797,25.937L37.843,159.732 l28.346,5.499l4.054-3.685l-2.211-1.814l-1.474-6.973V144.68z"
                                                          stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-opacity="1" fill="#d5d5d5"
                                                          original="#d5d5d5"
                                                          data-city="{% trans 'Қорақалпоғистон Республикаси: NUKUS CHARMPOYABZAL' %}"
                                                          data-phone="+99861 224-09-77"
                                                          id="jqvmap1_item19" class="jvectormap-region"
                                                          fill-opacity="1"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5" data-aos="fade-up">
                        <div class="card-title">
                            <h2 class="map-title">
                                {% trans 'Select a country' %}
                            </h2>
                        </div>
                        <div class="card map-card radius-5">
                            <div class="card-body">
                                <div class="d-flex columns-main-map">
                                    <div>
                                        <i class="far fa-phone-laptop mr-3"></i>
                                    </div>
                                    <h4 class="p-0 map-phone">

                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="partner-asosation">
        <div class="container">
            <div class="row">
                <div class="col-md-12 header-assos" data-aos="fade-up">
                    <h1>{% trans 'ASSOCIATION PARTNERS' %}</h1>
                    <div class="border-partners mx-auto"></div>
                </div>

                <div class="col-md-12 rounded mb-5">
                    <div class="owl-carousel overflow-hidden owl-theme partner-carousel position-relative"
                         data-aos="fade-up">
                        {% for link in partners %}
                            <div class="item">
                                <img data-aos="fade-down-right" class="partners__images" data-aos-duration="1000"
                                     src="{{ link.image.url }}"
                                     alt="{{ link.name_of_partner }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="usefull-sites pb-5" style="background: url('{% static 'assets/images/bg-charm2.png' %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-aos="fade-up">
                    <h1>{% trans 'USEFUL LINKS' %}</h1>
                    <div class="border-bott mx-auto"></div>
                </div>

                <div class="col-md-12 px-3 mb-5">
                    <div class="owl-carousel owl-theme usefull-site-carousel position-relative overflow-hidden"
                         data-aos="fade-up">
                        {% for link in useful_links %}
                            <a href="{{ link.link_to_website }}" target="_blank" class="text-decoration-none">
                                <div class="item shadow-sm p-2 rounded">
                                    <img src="{{ link.image.url }}"
                                         alt="{{ link.title }}">
                                    <h4>{{ link.title }}</h4>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
