{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="header">{{ other_user.username }}</div>
            <div class="messages-area">
                {% for message in messages %}
                    <div class="message
                    {% if message.sender == request.user %}right{% else %}left{% endif %}
                    ">
                        <div class="sent-by">{{ message.sender.username }}</div>
                        <div class="content">{{ message.message }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="input-area">
                <input type="text" id="message-input">
                <button id="send-btn">Send</button>
            </div>
        </div>
    </div>
    <script>
    let message_send_btn = document.getElementById("send-btn");
    let message_input = document.getElementById("message-input");
    function send_message() {
        let message = message_input.value;
        if (message === "") {
            return;
        }
        message_input.value = "";
        fetch("{% url 'chatroom-ajax' other_user.id %}",
            {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    "Content-Type": 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(message)
            }
        ).then(e => e.json()).then(messages => {
            for (message of messages) {
                construct_message(message);
            }
        });
    }

    function load_messages() {
        fetch("{% url 'chatroom-ajax' other_user.id %}")
            .then(e => e.json())
            .then(messages => {
                console.log(messages)
                for (message of messages) {
                    construct_message(message);
                }
            })
    }

    function construct_message(message){
        let messages_container = document.querySelector(".messages-area");
        let class_name = "left"
        if (message.sent){
            class_name = "right"
        }
        let div = document.createElement("div");
        div.classList.add("message", class_name);
        div.innerHTML = `
        <div class="sent-by">${ message.sender }</div>
            <div class="content">${ message.message }</div>
        `
        messages_container.appendChild(div);
        div.scrollIntoView()
    }
    message_send_btn.addEventListener('click', send_message);
    setInterval(load_messages, 2000);
    </script>
{% endblock %}
