{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="card">

                    <div class="card-body">
                        <div class="card-title py-3">
                            <h4>Login form:</h4>
                        </div>


                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
{#                            {% include 'partials/_messages.html' %}#}
                            <div class="form-group">
                                <input type="text" name="username" id="username" placeholder="username" value="{{ fieldValues.username }}"
                                       class="form-control form-control-sm">
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="password"
                                       class="form-control form-control-sm">
                            </div>
                            <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
