{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Profile information</h1>
        <form action="{% url 'profile' %}" method="post">
            {% csrf_token %}
            <div class="row accounts__inputs">
                <div class="col-lg-4 col-md-4">
                    <label for="name_of_organization">{% trans 'Enterprise name' %}</label>
                    <input id="name_of_organization" type="text" name="name_of_organization">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="address_of_organization">{% trans 'Enterprise address' %}</label>
                    <input id="address_of_organization" type="text" name="address_of_organization">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="organizational_legal_form">{% trans 'Organizational legal form' %}</label>
                    <input id="organizational_legal_form" type="text" name="organizational_legal_form">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="type_of_activity">{% trans 'Type of activity' %}</label>
                    <input id="type_of_activity" type="text" name="type_of_activity">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="date_of_registration">{% trans 'Date of registration' %}</label>
                    <input id="date_of_registration" type="date" name="date_of_registration">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="launch_date">{% trans 'Date of registration' %}</label>
                    <input id="launch_date" type="date" name="launch_date">
                </div>


                <div class="col-lg-4 col-md-4">
                    <label for="authorized_capital">{% trans 'Authorized capital' %}</label>
                    <input id="authorized_capital" type="text" name="authorized_capital">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="share_of_foreign_capital">{% trans 'Share of foreign capital' %}</label>
                    <input id="share_of_foreign_capital" type="text" name="share_of_foreign_capital">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="company_founders">{% trans 'Company founders' %}</label>
                    <input id="company_founders" type="text" name="company_founders">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="foreign_founders">{% trans 'Foreign founders' %}</label>
                    <input id="foreign_founders" type="text" name="foreign_founders">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="total_area">{% trans 'Total area' %}</label>
                    <input id="total_area" type="number" name="total_area">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="production_area">{% trans 'Production area' %}</label>
                    <input id="production_area" type="number" name="production_area">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="types_of_producing_products">{% trans 'Types of producing products' %}</label>
                    <input id="types_of_producing_products" type="text" name="types_of_producing_products">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="main_production_indicators">{% trans 'Main production indicators' %}</label>
                    <input id="main_production_indicators" type="text" name="main_production_indicators">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="annual_revenue">{% trans 'Annual revenue' %}</label>
                    <input id="annual_revenue" type="text" name="annual_revenue">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="number_of_employees">{% trans 'Number of employees' %}</label>
                    <input id="number_of_employees" type="text" name="number_of_employees">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="export_volume">{% trans 'Export volume' %}</label>
                    <input id="export_volume" type="number" name="export_volume">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="import_volume">{% trans 'Import volume' %}</label>
                    <input id="import_volume" type="number" name="import_volume">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="stir_code">{% trans 'Stir code' %}</label>
                    <input id="stir_code" type="number" name="stir_code">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="okpo_code">{% trans 'OKPO code' %}</label>
                    <input id="okpo_code" type="number" name="okpo_code">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="bank_details">{% trans 'Bank details' %}</label>
                    <input id="bank_details" type="text" name="bank_details">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="web_site">{% trans 'Web site' %}</label>
                    <input id="web_site" type="text" name="web_site">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="email">{% trans 'E-mail' %}</label>
                    <input id="email" type="email" name="email">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="financial_indicators">{% trans 'Financial indicators' %}</label>
                    <input id="financial_indicators" type="text" name="financial_indicators">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="head_of_organization">{% trans 'Head of organization' %}</label>
                    <input id="head_of_organization" type="text" name="head_of_organization">
                </div>

                <div class="col-lg-4 col-md-4">
                    <label for="phone_number">{% trans 'Phone number' %}</label>
                    <input id="phone_number" type="text" name="phone_number">
                </div>

                <div class="col-12 text-center">
                    <div class="d-inline-block">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
