{% extends 'base.html' %}
{% load i18n static %}
{% block content %}

    <section>
        <div class="container">
            <div class="row item-center mt-5 mb-5">
                <div class="col-md-5">
                    <img src="{% static 'assets/images/illustration-login.svg' %}" alt="">
                </div>
                <div class="col-md-5">
{#                    <p>{% trans 'Register to access all our resources' %}</p>#}
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        <div class="form-group">
                            <label class="is-required">{% trans 'Username' %}</label>
                            <input
                                    type="text" name="username"
                                    id="username" placeholder="username"
                                    value="{{ fieldValues.username }}"
                                    class="form-control input-sign">
                        </div>

                        <p class="text-sm text-success usernameSuccessOutput"></p>
                        <div class="form-group">
                            <label class="is-required">{% trans 'E-mail' %}</label>
                            <input
                                    type="email" name="email"
                                    id="email" placeholder="email"
                                    class="form-control input-sign">
                        </div>

                        <div class="form-group">
                            <label class="is-required">{% trans 'Password' %}</label>
                            <input
                                    type="password" name="password"
                                    id="password" placeholder="password"
                                    class="form-control input-sign">
                        </div>
                        <input type="submit" value="Register" class="btn-block btn btn-primary submit-btn">
                    </form>
                </div>

            </div>
        </div>
    </section>

    <!-- footer/// -->

    <script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <script src="{% static 'assets/app/drop.js' %}"></script>

    <script>
        // navbar
        $("[data-trigger]").on("click", function () {
            var trigger_id = $(this).attr('data-trigger');
            $(trigger_id).toggleClass("show");
            $('body').toggleClass("offcanvas-active");
        });

        // close button
        $(".btn-close").click(function (e) {
            $(".navbar-collapse").removeClass("show");
            $("body").removeClass("offcanvas-active");
        });

    </script>

{% endblock %}
